In [2]:
import pandas as pd

In [3]:
a = pd.Series([1,2,3,4,5,6,7.8])

In [4]:
a

0    1.0
1    2.0
2    3.0
3    4.0
4    5.0
5    6.0
6    7.8
dtype: float64

In [7]:
a = pd.Series([1,2,3,4,5,6,7])

In [8]:
a

0    1
1    2
2    3
3    4
4    5
5    6
6    7
dtype: int64

In [9]:
a.name="Gaurav"

In [10]:
a

0    1
1    2
2    3
3    4
4    5
5    6
6    7
Name: Gaurav, dtype: int64